*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#121212;
    color:white;
    padding:20px;
}

.container{
    max-width:700px;
    margin:auto;
}

.card{
    background:#1E1E1E;
    padding:25px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.4);
}

h1{
    text-align:center;
    margin-bottom:20px;
    color:#4FC3F7;
}

label{
    display:block;
    margin-top:15px;
    margin-bottom:5px;
}

input{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:#2A2A2A;
    color:white;
    font-size:18px;
}

input:focus{
    outline:2px solid #4FC3F7;
}

.buttons{
    display:flex;
    gap:10px;
    margin-top:20px;
}

button{
    flex:1;
    padding:14px;
    border:none;
    border-radius:12px;
    cursor:pointer;
    color:white;
    font-size:17px;
    transition:.2s;
}

button:hover{
    transform:scale(1.03);
}

#calc{
    background:#2196F3;
}

#save{
    background:#4CAF50;
}

#clear{
    background:#F44336;
}

.cards{
    display:flex;
    gap:10px;
    margin-top:20px;
}

.info{
    flex:1;
    background:#2A2A2A;
    padding:20px;
    border-radius:15px;
    text-align:center;
}

.info h2{
    margin-top:10px;
    color:#4CAF50;
}

table{
    width:100%;
    margin-top:20px;
    border-collapse:collapse;
}

th{
    background:#2196F3;
    padding:12px;
}

td{
    background:#2A2A2A;
    padding:10px;
    text-align:center;
    border-bottom:1px solid #444;
}

@media(max-width:700px){

.buttons,
.cards{

display:flex;
flex-direction:column;

}

}